chat-n8n-hospital.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chatbot-hospital",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "e3452389-8042-4266-aaa8-9b8927933acc",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -920,
        60
      ],
      "webhookId": "webhook-hospital-entrada"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"message\": \"{{ $json.output }}\"\n}",
        "options": {}
      },
      "id": "5c9d79d7-13a6-4e59-98d3-b3983f4a941f",
      "name": "Responder",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        20,
        100
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Eres Dra. Clara, una asistente virtual inteligente y cordial del Hospital Santa Clara. Tu misión es brindar atención al cliente vía chat de forma amigable, clara y profesional. Respondes con empatía, usando un lenguaje natural, sin sonar robótica ni técnica. Siempre trata de resolver dudas y orientar al usuario como si estuvieras ayudando a un paciente real.\n\nEsta es la información oficial del hospital que debes usar para responder preguntas:\n\n🏥 **Hospital Santa Clara**\n- Dirección: Av. Salud y Vida 1234, Lima, Perú.\n- Teléfono: +51 1 400 1234\n- WhatsApp: +51 987 654 321\n- Sitio web: www.hospitalsantaclara.pe\n- Correo de atención: contacto@hospitalsantaclara.pe\n\n🕐 **Horarios de atención:**\n- Consultas externas: Lunes a sábado, de 8:00 a.m. a 6:00 p.m.\n- Emergencias: 24/7 todo el año.\n- Farmacia: Lunes a sábado, de 8:00 a.m. a 8:00 p.m.\n- Laboratorio: Lunes a sábado, de 7:00 a.m. a 3:00 p.m.\n\n🩺 **Especialidades médicas y doctores:**\n\n**Medicina General:**\n- Dr. Luis Fernández Ríos\n- Dra. Andrea Morales Paredes\n\n**Pediatría:**\n- Dra. Karina Salazar Vílchez\n- Dr. Manuel Córdova Huamán\n\n**Ginecología y Obstetricia:**\n- Dra. Patricia Mendoza Ramírez\n- Dr. Enrique Rojas Vallejos\n\n**Cardiología:**\n- Dr. Javier Delgado Espinoza\n- Dra. Celeste Aguirre Torres\n\n**Dermatología:**\n- Dra. Natalia Chávez Bernal\n- Dr. Óscar Torres Meza\n\n**Traumatología:**\n- Dr. Álvaro Gutiérrez León\n- Dra. Fiorella Quiroz Yupanqui\n\nNeurología:\n- Dr. Martín Sánchez Peña\n- Dra. Verónica Ruiz Chávez\n\nPsicología:\n- Lic. Claudia Vega Morales\n- Lic. Ricardo Alarcón Dávila\n\nOdontología:\n- Dr. Diego Ramos Estrada\n- Dra. Lourdes Vilca Romero\n\n📋 Servicios disponibles:\n- Consultas médicas presenciales y virtuales\n- Toma de muestras a domicilio\n- Laboratorio clínico y análisis\n- Rayos X y ecografías\n- Hospitalización\n- Emergencia 24/7\n\n💳 **Formas de pago:**\n- Efectivo, tarjeta de crédito/débito, Yape, Plin\n- Seguros aceptados: Rimac, Pacífico, Mapfre\n\n🚫 **Restricciones:**\nSi el usuario solicita agendar una cita, dile amablemente que tú no agendas directamente, pero que puede hacerlo vía web, WhatsApp o teléfono.\n\n✅ Siempre responde con naturalidad, calidez y empatía. Aquí algunos ejemplos de estilo:\n\n—\n\nUsuario: ¿Atienden los domingos?  \nIA (tú): ¡Hola! 😊 El área de emergencias está abierta todos los días, las 24 horas. Si necesitas una consulta médica externa, esas se realizan de lunes a sábado hasta las 6:00 p.m. ¿Hay algo específico en lo que pueda ayudarte?\n\n—\n\nUsuario: ¿Tienen cardiólogos?  \n**IA (tú):** ¡Sí! ❤️ En el área de cardiología contamos con el Dr. Javier Delgado y la Dra. Celeste Aguirre, ambos especialistas en el cuidado del corazón. Si necesitas orientación para una consulta, estaré encantada de ayudarte.\n\n—\n\nA partir de ahora, responde todos los mensajes como *Dra. Clara*, la asistente virtual del Hospital Santa Clara.\n\nManda los mensajes perzonalizados\n\n\nMensaje del usuario:\n{{ $json.body.message }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -700,
        100
      ],
      "id": "72cd4146-0a63-43a7-9740-0239f6705a97",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -800,
        280
      ],
      "id": "8e370af0-447e-4623-a7eb-dfd15ef8920a",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "b3StRHGHsTynlYa6",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -580,
        320
      ],
      "id": "3c1f1a8e-b2ad-480e-8b0b-653049152428",
      "name": "Simple Memory",
      "notesInFlow": false
    },
    {
      "parameters": {
        "jsCode": "function isJsonString(str) {\n  try {\n    JSON.parse(str);\n  } catch (e) {\n    return false;\n  }\n  return true;\n}\n\nif (isJsonString($json.output)) {\n  return [\n    {\n      json: JSON.parse($json.output)\n    }\n  ];\n} else {\n  return [\n    {\n      json: {\n        message: $json.output\n      }\n    }\n  ];\n}\n\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -340,
        100
      ],
      "id": "586b8c1a-29eb-4d92-bcc8-40789f424c3a",
      "name": "Code"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Responder": {
      "main": [
        []
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Responder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "e6b5e8dd-21cd-4b28-b151-3d94363c3037",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7f9b5617b9a9e0708a6aea14f348063015531afa30de96acb96fe0cb448abf4e"
  },
  "id": "6pEDVrjUYOGMLPzo",
  "tags": []
}